<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>
	<title>Dload Youtube</title>
	<link href="{% static 'images/logo.ico' %}" rel="shortcut icon" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% include 'navbar.html' %}

  {% block content %}

  {%endblock%}
</body>