<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static 'css/style.css' %}'>
	<title>Dload Tube</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	<body>
		

		
			{% if user.id is None %}
			<div class="col-lg-2 col-md-3 col-6" id="imgbox">
				<a href="#" id="clickimg">
				<img id="imguser" class="logo" src="{% static 'images/brandlogo.ico' %}">
				</a> 
			</div>
		<div id="userbox">
			<div class="widget-header" id="bienvenidobox">
				<small class="bienvenido">Welcome Guest!</small>
			</div>
			<div style="padding-top: 1.25em;">
				<a href="{% url 'login' %}" class="loginbtns">Login</a> 
				<a href="{% url 'registrar' %}" class="loginbtns"> Sign Up</a>
			</div>
		</div>
			{% else %}
			<div class="col-lg-2 col-md-3 col-6" id="imgbox">
				<div class="contenido text-center">
					<input type="checkbox" id="check">
					<label for="check" class="checkbtn">
						<img id="imguserloged" class="logo" src="{% static 'images/brandlogo2.ico' %}">
					</label>
					<div class="cont-menu active" id="contmenu">
						<ul class="cont-menu active" id="contmenuul">
							<li class="contmenulist"><a href="{% url 'search_list' %}" style="text-decoration: none; color: white">Search</a></li>
							<li class="contmenulist"><a href="{% url 'search' %}" style="text-decoration: none; color: white">History</a></li>
							<li class="contmenulist"><a href="{% url 'home1' %}" style="text-decoration: none; color: white">Dload Url</a></li>
						</ul>				
					</div>
				</div>
			</div>
			{% comment "menu hamburguesa" %}Menu desplegable de hamburguesa{% endcomment %}
			{% comment "" %}<div class="cont-menu active" id="contmenu">
				<ul class="cont-menu active" id="contmenuul">
					<li class="contmenulist">Search</li>
					<li class="contmenulist">history</li>
					<li class="contmenulist">Dload Url</li>
				</ul>				
			</div>{% endcomment %}

	
		<div id="userbox">
			<div class="widget-header">
			<small class="bienvenido">Welcome <strong>{{ user.nombre_completo }}</strong></small>
			</div>
			<div style="padding-top: 1.25em;">
				<a href="{% url 'logout' %}" class="loginbtns">Logout</a> 
			</div>
			{% endif %}
		</div>
		
		<div class="nav-bar">
			<a href="{% url 'home1' %}" style="text-decoration: none">
			<span style="--l: 'Dload';">Dload</span>
			<span style="--l: 'Tube';">Tube </span>
		</a>
		</div>		

	<div class="centralizador">
		<div class="banner">
			{% block content %}
			
			{% endblock content %}
		</div>
	</div>
</body>
</html>


