<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>
	<title>Dload Youtube</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="banner">
		<iframe class="preview" src="{{embed}}" allowfullscreen width="800" ></iframe>
		<div class="formulario">
			<form action="{% url 'done' %}" method="post" id="enterlink">
			{% csrf_token %}
				<div class="buttons">
					<button class="btn" name="bttn1" type="submit" value="mp4">Dload Mp4</button>
					<button class="btn2" name="bttn2" type="submit" value="mp3">Dload Mp3</button>
					<a href={% url 'home1' %}><button id="back" class="btn" type="button" >Back to Dload</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>


