{% extends 'core.html' %}


{% block content %}
	<iframe class="preview" src="{{embed}}" allowfullscreen width="800" ></iframe>
			<div class="formulario" id="btnselect">
				<form action="{% url 'done' %}" method="post" id="enterlink">
				{% csrf_token %}
					<div class="buttons">
						<button class="btn" name="bttn1" type="submit" value="mp4">Dload Mp4</button>
						<button class="btn2" name="bttn2" type="submit" value="mp3">Dload Mp3</button>
						<a href={% url 'home1' %}><button id="back" class="btn" type="button" >Back to Dload</button></a>
					</div>
				</form>
			</div>
{% endblock content %}


