<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static 'style.css' %}'>
	<title>Url wrong</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="banner">
		<div class="container">
		<span style="--l: 'Dload';">Ups </span>
		<span style="--l: 'Tube';">Error </span>
		</div>
		<div class="formulario">
				<div class="buttons">
					<a href={% url 'home1' %}><button class="btn" type="submit" >Back to Dload</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>