{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="banner">
		<div class="container">
		<span style="--l: 'Dload';">Dload</span>
		<span style="--l: 'Tube';">Tube </span>
		</div>
		<div class="formulario">
			<form action="downloaded/" method="get" id="enterlink">
				<label>Enter your link
					<input class="form-control" type="text" name="url">
				</label>
				<div class="buttons">
					<button class="btn" id="btndload" type="submit">Let's Dload</button>
				</div>
			</form>
		</div>
	</div>
	{% endblock %}



