{% extends 'base.html' %}

{% block content %}
<div class="form-row">        
<div  class="style="max-width: 380px; margin-top:25px;margin-left:-25px; border-radius: 25px;border-color:white;">
          {% include 'alerts.html' %}
          
          <div id="login" class="card-body">
          <h4  class="card-title mb-4" style="color:white; margin-bottom:1em!important">Login</h4>

          <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}

              <div class="form-group">
                 <input type="email" class="form-control" style="margin-bottom:0.7em" placeholder="Email" name="email" >
              </div> 
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" style="margin-bottom:0.7em" name="password" >
              </div> 
 
              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block" style="margin-bottom:0.7em;color:white"> Login  </button>
              </div> 
          </form>
          </div> 
        </div> 

         <p class="text-center mt-4" style="color:white;font-size:0.8em">No tienes una cuenta? <a href="{% url 'registrar' %} style="color:white"">Registrate</a></p>
         <br><br>
<div>    
    </section>

{% endblock %}
<style>
  #login{
    position:relative!important;
    top:-3em!important;
    left:-13em!important;
  }
</style>