{% load static %}

<header class="section-header">
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  
<section class="header-main border-bottom">
  <div class="container">
<div class="row align-items-center">
  <div class="col-lg-2 col-md-3 col-6">
    <a href="#" class="brand-wrap">
      <img style="width:65px; height:65px; margin-left:3em; margin-top:-15vh;" class="logo" src="{% static 'images/logo.ico' %}">
    </a> 
    <div style="color:White; font-size:2em;padding-left:1em;">Dload!</div>
  </div>
   
  <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
        <div class="d-flex justify-content-end mb-3 mb-lg-0">

          <!--{% if user.id is None %}-->
          <div class="widget-header">
            <small class="title text-muted" style="color:white;margin-top:10px;">Bienvenido visitante!</small>
            <div>
              <a href="#" style="color:white;">Login</a> 
              <a href="#" style="color:white;"> Registrarse</a>
            </div>
          </div>
          <!--{% else %}-->

          <div class="widget-header">
            <small class="title text-muted">Bienvenido <strong>{{ user.full_name }}</strong></small>
              
          </div>


         <!-- {% endif %}-->



          
      </div> 
</div> 
  </div> 
</section> 
</header>

<style>

</style>