{% load static %}

<nav id="nav" class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
 
<section class="header-main border-bottom">
  <div class="container">
  <div class="row"> 
  <div id="logo" class="col-lg-4 col-md-3">
    <a href="#" class="brand-wrap">
      <img style="width:65px; height:65px; margin-left:3em; margin-top:-15vh;" class="logo" src="{% static 'images/logo.ico' %}">
    </a> 
    <p style="color:White; font-size:2em;padding-left:1em;"> Dload!</p>
  </div>
   
  <div id="derecha" class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
        <div class="d-flex justify-content-end mb-3 mb-lg-0">

          {% if usuario.id is None %}
         
          <div class="widget-header">
            <small class="title text-muted" style="color:white;margin-top:10px;">Bienvenido visitante!</small>
            <div>
              <a href="{% url 'login' %}" style="color:white;">Login</a> 
              <a href="{% url 'registrar' %}" style="color:white;"> Registrar</a>
            </div>
          </div>
         
          {% else %}
         
          <div class="widget-header">
            <small class="title text-muted" style="color:white;">Bienvenido <strong>{{ usuario.nombre_completo }}</strong></small>
          </div>
         
          {% endif %}

      </div> 
</div>

</div>
</div>
</section> 
</nav>

<style>
#nav{
  position:relative!important;
  top: -16em!important;
}
#logo{
  position:relative!important;
  left:-30em!important;
}
#derecha{
  position:relative!important;
  left:40em!important;
  top:-4em!important;
}
</style>
