{% extends 'base.html' %}

{% block content %}

<section class="section-content padding-y">

    
        <div class="card mx-auto" style="max-width:520px; margin-top:40px; border-radius: 25px;">
          <article class="card-body">
            {% include 'includes/alerts.html' %}

            <header class="mb-4"><h4 class="card-title">Registro de Usuario</h4></header>
            <form action="#" method="POST" >
                  {% csrf_token %}
                  
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Nombre</label>
                            {{ form.first_name }}
                        </div> 
                        <div class="col form-group">
                            <label>Apellido</label>
                            {{ form.last_name }}
                        </div> 
                    </div>

                        <div class="col form-group">
                            <label>Email</label>
                            {{ form.email }}
                        </div> 
                    </div> 

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Crear password</label>
                             {{ form.password }}
                        </div> 
                        <div class="form-group col-md-6">
                            <label>Repetir password</label>
                            {{ form.confirm_password }}
                        </div> 
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Registrar  </button>
                    </div>

                    {{ form.email.errors }}
                    {{ form.non_field_errors }}

                </form>
            </article>
        </div>
        <p class="text-center mt-4">Tienes una cuenta? <a href="#">Log In</a></p>
        <br><br>

    </section>


{% endblock %}
