{% extends 'core.html' %}



{% block content %}
<div id="search_banner">
		<div id="search-box">
			<form action= "{% url 'search_list'%}" method="get" id="getsearch">
				{% csrf_token %}
				<label>Search a Video
					<input class="form-control" type="text" name="url">
				</label>
					<button class="btn" id="btnsearch" type="submit">Let's search</button>
			</form>
		</div>
				<div id="search_container">
						{% if resultado %}
							<div id="resultbox"><p id="textresult">Hay {{resultado|length}} coincidencias</p></div>
								{% for v in resultado %}

								<div id="position_search_container">
									<div id="textsearchbox">
										<p class="text-center mt-4" id="textsearch"><a href="{{v.watch_url}}" target="_blank" style="color: white; text-decoration: none;" >{{v.title}}</a></p>
										{% csrf_token %}
									</div>
										<iframe src="{{v.embed_url}}" title="{{v.title}}" id="searchpreview" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

										<div id="buttonbox">
											<form action = "/dwnmp3/" method = 'get'>
												{% csrf_token %}
												<button class = 'btn' type="submit" value="MP3" id= "dwmp3">Download MP3</button>
												<input class="form-control" type="hidden" name="vurl3" value = {{v.watch_url}}>
											</form>

											<form action = '/dwnmp4/' method = 'get'>
												{% csrf_token %}
												<button class = 'btn' type="submit" value="MP4" id="dwmp4">Download MP4</button>
												<input class="form-control" type="hidden" name="vurl4" value = {{v.watch_url}}>
											</form>
										</div>			
								</div>
								{% endfor %}
						{% else %}
								{%if historial%}
									<P></P> <!-- Aca va la consulta al historial de descargas-->
									<div id="resultbox"><p id="textresult">Hay {{historial|length}} descargas en tu hitorial</p></div>
									<br>
									<br>
										<h2>Fecha  Formato   URL   Clase </h2>
										<br>
										<br>
										{%for h in historial%}
												<br>
												<p class="text-center mt-4" id="textsearch">{{h.fecha}}    {{h.tipo_descarga}}    {{h.url}}    {{h.tipo_video}}</p>
												<br>
												<br>
										{%endfor%}
									</div>
								{%else%}
									<h2>El usuario: {{v.user_email}}  no tiene descargas aún</h2>
								{%endif%}
						{% endif %}
				</div>
</div>
{% endblock content %}
