{% extends 'core.html' %}

{% block content %}
	
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh" >


    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px; margin-top: 100px;">
          {% include 'alerts.html' %}
        <div class="card-body">
            <h4 class="card-title mb-4" id="fpasstext" style="text-align: center;">Recover Password  </h4>
            <form action="{% url 'forgotPassword' %}" method="POST">
              {% csrf_token %}

            <div class="form-group" id="logpass" style="text-align: center;">
                <label>Email  </label><input type="email" class="form-control" placeholder="Email" name="email" >
            </div> <!-- form-group// -->

            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-block" id="btnlogin"> Send  </button>
            </div> <!-- form-group// -->

            

              

          </form>
        </div> <!-- card-body.// -->
            <div class="form-group" style="text-align: center;">
                <p class="text-center mt-4" id="askreg">Sign In? <a href="{% url 'login' %}" style="color: white">Log In</a></p>
                <p class="text-center mt-4" id="askreg">Sign Up <a href="{% url 'registrar' %}" style="color: white">Register</a></p>
            </div> <!-- form-group form-check .// -->
    </div> <!-- card .// -->
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}
