{% extends 'core.html' %}

{% block content %}

<section class="section-content padding-y">

    
        <div class="card mx-auto" id="regbox">
          <article class="card-body">
            {% include 'alerts.html' %}

            <header class="mb-4"><h4 class="card-title" id="textreg">Registro de Usuario</h4></header>
            <form action="{% url 'registrar' %}" method="POST" name='fr'>
            <!--form action="{% url 'registrar' %}" method="post" onsubmit="return Validar(event)"-->
                  {% csrf_token %}
                  
                    <div class="form-row" id="regformbox">
                        <div class="col form-group" id="regfirstname">
                            <label>Nombre</label>
                            {{ form.nombre }}
                        </div> 
                        <div class="col form-group" id="reglastname">
                            <label>Apellido</label>
                            {{ form.apellido }}
                        </div> 
                        <div class="col form-group" id="regemail">
                            <label>Email</label>
                            
                            {{ form.email }}
                        </div> 
                        <div class="form-group col-md-6" id="regpass">
                            <label>Password</label>
                            {{ form.password }}
                        </div> 
                    </div>

                   {% comment %}  {{ form.email.errors }}
                    {{ form.non_field_errors }} {% endcomment %}

                    <div class="form-group" id="regbtnbox">
                        <button type="submit" class="btn btn-primary btn-block" id="btnreg" onclick="Validar(event);"> Registrar  </button>
                        <p class="text-center mt-4" id="asklog">Tienes una cuenta? <a href="{% url 'login' %}" style="color: white">Log In</a></p>
                    </div>
                </form>
            </article>
        </div>
        <br><br>
    </section>
<script>
    function enviar_formulario(){
        document.fr.submit()
     }

    function Validar(event){
        event.preventDefault();
        nombre = document.getElementById('id_nombre'); 
        //alert(devolucion.value)
        if (nombre.value==""){
        nombre.focus();
        alert('Falta Completar el nombre')
        } 
        else{
        return enviar_formulario(); 
        }
    }
</script>
{% endblock %}
