{% extends "core.html" %}

{% block content %}

<div class="card mx-auto" id="logformbox">
    {% include 'alerts.html' %}
    <div class="card-body">
    <h4 class="card-title mb-4" id="textlogin" style="color:white">Cambia tu contraseña</h4>

    <form action="#" method="POST">
        {% csrf_token %}

        <div class="form-group">
           <input type="password" class="form-control" placeholder="nueva contraseña" name="password">
        </div> 
        <div class="form-group" id="logpass">
          <input type="password" class="form-control" placeholder="confirma contraseña" name="confirm_password">
        </div> 

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block" id="btn"> Confirmar </button>
        </div> 
    </form>
    </div> 
  </div> 

{% endblock content %}